<template>
  <div>
    <div id="theatre-body">
      <nuxt />
    </div>
  </div>
</template>

<script>
  export default {
    
  }
</script>

<style scoped>
  #theatre-body {
    background-color: black;
    color: white;
  }
</style> 